@use './colors' as colors;

* {
  font-size: 20px;
  font-family: 'Fira Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: colors.$dark;
}

html,
body,
#root {
  background-color: colors.$light;
  height: 100%;
  min-height: 100%;
}

a {
  color: colors.$highlight-red;
}

h2 {
  font-size: 24px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid black;
}

th,
td {
  text-align: left;
  padding: 10px;
}

.base-text {
  font-size: 1rem;
  line-height: 1rem;
}

.bold-text {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.1rem;
}

.small-header {
  font-size: 2rem;
  line-height: 2rem;
}

.large-header {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
}
